@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-color: black;
	color: #fff;
	display: flex;
	font-family: 'Century Gothic', sans-serif;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
  min-height: 100vh;
  font-size: 25px;
}

p {
	margin: 5px 0;
}

h2 {
	margin: 10px 0 20px;
	text-align: center;
}

#result {
  background-color: grey;
  padding: 5px;
  border-radius: 2px 2px 2px 2px;
}